@CHARSET "UTF-8";

#main_left_page{
	
	font-weight: bold;
	font-size: 24px;
}

ul{
	margin: 50px;
	
}

ul li{
	margin: 20px 0px;
	
}
#main_left_page a{
	color: #625af5;
}
#main_left_page a:HOVER{
	color: #e9521f;
}
