@CHARSET "UTF-8";


#vipSelect{
	margin:20px 250px;
	font-size: 26px;
}


#vipSelect table td,#vipSelect table th{
	text-align: center;
	padding: 4px 50px;
}

#vipSelect a{
	color: #625af5;
}
#vipSelect a:HOVER{
	color: #e9521f;
}